
// Color Palette
$color-1: #d2dce7;
$color-2: #4a617f;
$color-3: #f5f5f5;
$color-4: #000000;
$color-5: #3e98c7;
$color-swiper-buttons: rgb(226, 226, 226);
$color-6: rgba(0, 0, 0, 0.05);
$color-7: rgba(100, 100, 100, 0.1);

// Admin Panel colors
$admin-color-1: #ffffff;
$admin-color-2: #61a6fa;
$admin-color-3: #8b5cf4;
$admin-color-4: #36886f;

.selector {
    .category-selector {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      .category-selector-header {
        button {
          all: unset;
          font-size: 1rem;
          padding: 0.4em 1em;
          border-radius: 100rem;
          background-color: $color-2;
          color: white;
        }
      }
      .category-selector-body {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        padding-right: 1em;
        overflow: auto;
        transition: all 1s ease;
        input {
          display: none !important;
        }
        .category {
          border: 1px rgb(202, 182, 182) solid;
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 1rem;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: all 1s ease;
          * {
            transition: all 0.5s ease;
          }
          &:hover {
            background-color: $color-2;
            * {
              color: white;
            }
          }
          img {
            width: 6rem;
            height: 6rem;
            border-radius: 0.4rem 0rem 0rem 0.4rem;
          }
          h2 {
            background-color: $color-1;
            margin-left: auto;
            font-size: 2rem;
            padding: 0.2em;
            border-radius: 0.5rem 0rem 0rem 0.5rem;
            color: black !important;
          }
          h1 {
            font-size: 1.5rem;
            text-transform: uppercase;
          }
        }
        .selected {
          background-color: $color-2;
          * {
            color: white;
          }
        }
      }
      .hide {
        height: 0;
      }
      .show {
        height: 30rem;
      }
    }
  
    .seletor-tags {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .tags-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        button {
          all: unset;
          font-size: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .icon {
          font-size: 2rem;
          color: green;
        }
      }
      .tags-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        .tag-item {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.3em 1em;
          border-radius: 100rem;
          background-color: $color-2;
          min-width: 7ch;
          text-transform: capitalize;
          gap: 0.5rem;
          font-size: 1rem;
          * {
            color: white !important;
          }
          button {
            all: unset;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }