@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap");
@font-face {
  font-family: BebasKai;
  src: url("/src/fonts/BebasKai.otf");
}
html,
body {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  font-family: "Abel", sans-serif !important;
  width: 100%;
  background-color: #d2dce7;
}
html ul,
html p,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html a,
body ul,
body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body a {
  all: unset;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}
html img,
body img {
  display: flex;
}
html button,
body button {
  position: relative;
  background-color: skyblue;
  transition: all 0.5s !important;
  cursor: pointer !important;
}
html button:hover,
body button:hover {
  transform: scale(0.95) !important;
}
html .grid-responsive-16rem,
body .grid-responsive-16rem {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}
html .grid-responsive-6rem,
body .grid-responsive-6rem {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
}
html .grid-responsive-8rem,
body .grid-responsive-8rem {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}
html .flex-responsive-7rem,
body .flex-responsive-7rem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
html .flex-responsive-7rem *,
body .flex-responsive-7rem * {
  width: 7rem;
}
html .flex-responsive-14rem,
body .flex-responsive-14rem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
html .flex-responsive-14rem .item,
body .flex-responsive-14rem .item {
  width: 14rem;
}
html .page-grid-style-responsive,
body .page-grid-style-responsive {
  display: grid;
  width: 100%;
  grid-template-columns: 28rem 1fr;
  grid-template-areas: "left right";
}
html .page-grid-style-responsive .left,
body .page-grid-style-responsive .left {
  grid-area: left;
}
html .page-grid-style-responsive .right,
body .page-grid-style-responsive .right {
  grid-area: right;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  background-color: transparent;
  width: 0.7rem;
}
html ::-webkit-scrollbar-track,
body ::-webkit-scrollbar-track {
  background-color: transparent;
}
html ::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb {
  background-color: #4a617f;
  background-clip: padding-box;
}

* {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
}

button {
  all: unset;
}

body {
  align-self: center;
  padding-bottom: 5em;
}

.App {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d2dce7;
  align-self: center;
}
.App * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: normal;
}
.App header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  background: #f5f5f5;
  box-shadow: 0rem 0.15em 0.3rem 0.1rem rgba(0, 0, 0, 0.2);
  height: 5rem;
}
.App header .left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.App header .left .logo {
  display: flex;
  flex-direction: row;
  color: black;
  gap: 0.4rem;
}
.App header .left .logo img {
  width: 3rem;
}
.App header .left .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App header .left .text .row {
  all: unset;
  text-transform: uppercase;
}
.App header .left .text .row h1 {
  all: unset;
  font-size: 1.2rem;
}
.App header .left .rent {
  margin-left: 2rem;
}
.App header .left .rent,
.App header .left .buy,
.App header .left .mortgage {
  text-align: center;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.App header .left .rent button,
.App header .left .buy button,
.App header .left .mortgage button {
  all: unset;
  padding: 0.3rem 0.7rem;
  min-width: 6ch;
  border-bottom: 0.1rem solid transparent;
  border-radius: 0.3rem;
  transition-duration: 0.3s;
  background-color: #4a617f;
  color: white;
}
.App header .left .rent button:hover,
.App header .left .buy button:hover,
.App header .left .mortgage button:hover {
  background-color: rgba(74, 97, 127, 0.6901960784);
}
.App header .right {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.App header .right .header-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}
.App header .right .header-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  padding: 0.3rem 0rem;
  position: relative;
  transition-duration: 0.5s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.App header .right .header-list li span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  width: 3ch;
  height: 3ch;
  border-radius: 50%;
  background-color: red;
  color: white;
}
.App header .right .header-list li::after {
  content: "";
  width: 0%;
  position: absolute;
  left: 0;
  bottom: -10%;
  height: 0.1rem;
  background-color: black;
  transition: all 0.4s ease-out;
}
.App header .right .header-list li:hover::after {
  width: 100%;
}
.App header .right .account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  border: 0.1rem rgba(0, 0, 0, 0.25) solid;
  padding: 0.3rem 0.7rem;
  height: -moz-max-content;
  height: max-content;
  align-self: center;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  background-color: transparent;
}
.App header .right .account svg {
  width: 2rem;
  height: 2rem;
}
.App header .right .side-bar {
  display: flex;
  align-items: center;
}
.App header .right .side-bar ::-webkit-scrollbar-thumb {
  background-color: white;
  background-clip: padding-box;
}
.App header .right .side-bar .side-bar-open-close-button {
  width: 2rem;
  height: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.App header .right .side-bar .side-bar-open-close-button button {
  display: flex;
  border: none;
  background-color: transparent;
}
.App header .right .side-bar .side-bar-acordion-list {
  margin-top: 5rem;
  padding-top: 1rem;
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #4a617f;
  width: 20rem;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  top: 0;
  right: 0;
  transition: all 0.5s ease;
  transform: translateY(-120%);
  padding-bottom: 20vh;
  gap: 1rem;
}
.App header .right .side-bar .side-bar-acordion-list svg {
  width: 1.8rem;
  height: 1.8rem;
}
.App header .right .side-bar .side-bar-acordion-list .accordion-item {
  background-color: transparent;
  border: none;
  padding: 0 2rem;
}
.App header .right .side-bar .side-bar-acordion-list .accordion-item * {
  box-shadow: none;
  border: none !important;
  outline: none !important;
}
.App header .right .side-bar .side-bar-acordion-list .accordion-item h1 {
  padding: 1rem 2rem;
  width: 100%;
  background-color: white;
}
.App header .right .side-bar .side-bar-acordion-list .accordion-item .accordion-header .accordion-button {
  background-color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-left: 0.1rem transparent solid !important;
  border-radius: 1rem 1rem 0 0;
}
.App header .right .side-bar .side-bar-acordion-list .accordion-item .accordion-header .accordion-button:hover {
  transform: scale(1) !important;
  border-left: 0.3rem white solid !important;
}
.App header .right .side-bar .side-bar-acordion-list .accordion-item .accordion-header .accordion-button::after {
  filter: invert(100%);
}
.App header .right .side-bar .side-bar-acordion-list .accordion-item .accordion-header .collapsed {
  background-color: transparent;
  color: white;
  border-radius: 0rem 0rem 0 0;
}
.App header .right .side-bar .side-bar-acordion-list .accordion-item .accordion-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem 2rem;
  padding-top: 0.5rem;
}
.App header .right .side-bar .side-bar-acordion-list .accordion-item .accordion-body .item a {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
.App header .right .side-bar .side-bar-acordion-list .accordion-item .accordion-body .item a::after {
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  right: 0;
  border-bottom: 0.1rem black solid !important;
  content: "";
  width: 0%;
  transition: all 0.5s ease;
}
.App header .right .side-bar .side-bar-acordion-list .accordion-item .accordion-body .item a:hover::after {
  width: 100%;
}
.App header .right .side-bar .side-bar-acordion-list .accordion-item .accordion-collapse {
  background-color: white !important;
  border-radius: 0rem 0rem 1rem 1rem;
}
.App header .right .side-bar .side-bar-acordion-list .no-acordion-item {
  width: 15.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  padding: 1rem;
  color: white;
  gap: 0.5rem;
  transition: all 0.5s ease !important;
  border-left: 0rem transparent solid;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.App header .right .side-bar .side-bar-acordion-list .no-acordion-item path {
  fill: white;
}
.App header .right .side-bar .side-bar-acordion-list .no-acordion-item:hover {
  border-left: 0.3rem white solid;
}
.App header .right .side-bar .side-bar-acordion-list .side-bar-accordion-account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  width: -moz-max-content;
  width: max-content;
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: white;
  border: 0.1rem white solid;
  padding: 0.3rem 0.7rem;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  background-color: transparent;
}
.App header .right .side-bar .side-bar-acordion-list .side-bar-accordion-account svg {
  width: 2rem;
  height: 2rem;
}

.fadeIn {
  animation: fadeIn 2s ease forwards;
}

@keyframes wideImageAnimation {
  0% {
    -o-object-position: left;
       object-position: left;
  }
  50% {
    -o-object-position: right;
       object-position: right;
  }
  100% {
    -o-object-position: left;
       object-position: left;
  }
}
@media only screen and (max-width: 1150px) {
  header .header-list {
    display: none !important;
  }
  .App .page-grid-style-responsive {
    grid-template-columns: 1fr;
    height: -moz-max-content;
    height: max-content;
    grid-template-areas: "right" "left";
  }
  .App section h1::before {
    display: none;
  }
  .App section h1::after {
    display: none;
  }
  .App .intro .communication {
    display: none !important;
  }
  .App .new-estates img {
    height: 26rem !important;
  }
  .App .search .category-search {
    padding-left: 0;
  }
  .App .search .category-search .category-search-header {
    align-items: center;
    flex-direction: column;
  }
  .App .search .category-search .category-search-body .search-suggest {
    justify-content: center !important;
    align-items: center !important;
  }
  .App .by-category .by-category-body {
    display: flex;
    flex-direction: column;
  }
  .App .by-category .by-category-body .left-side {
    border-radius: 1rem 1rem 0 0;
    padding: 1em;
  }
  .App .by-category .by-category-body .left-side .left-side-header {
    padding: 0.5em;
  }
  .App .by-category .by-category-body .left-side .left-side-body {
    padding-right: 2em;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(16rem, 100%), 1fr));
  }
  .App .by-category .by-category-body .right-side img {
    border-radius: 0rem !important;
    height: 30rem !important;
  }
  .App .by-category .by-category-body .right-side .big-card-body {
    width: 100% !important;
    position: initial !important;
    height: -moz-max-content !important;
    height: max-content !important;
  }
  .App .by-category .by-category-body .right-side .big-card-body * {
    opacity: 1 !important;
  }
  .App .by-category .by-category-body .right-side .big-card-body .info {
    border-radius: 0 0 1rem 1rem !important;
  }
  .App .by-category .by-category-body .right-side .big-card-body .info .description {
    min-height: -moz-max-content !important;
    min-height: max-content !important;
  }
  .App .by-category .by-category-body .right-side .big-card-body .info .options {
    margin-top: 1rem;
  }
  .App .by-category .by-category-body .right-side .big-card-body .info .rating {
    max-width: min(24rem, 100%);
  }
  .App .by-category .by-category-body .bottom-side {
    margin-top: 2em;
    grid-column: -1/1;
    padding: 0em 1em;
    width: 100%;
  }
  .App .agents .agents-body {
    grid-template-columns: 1fr;
  }
  .App .agents .agents-body .left {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  header .rent,
  header .buy,
  header .mortgage {
    display: none !important;
  }
  .App .search-explore .gallery-slide {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  header .account {
    display: none !important;
  }
  .App section {
    width: 100%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIN {
  from {
    transform: translateX(125%);
    opacity: 0.5;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slideOUT {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    opacity: 0.5;
    transform: translateX(125%);
  }
}/*# sourceMappingURL=App.css.map */