// Color Palette
$color-1: #d2dce7;
$color-2: #4a617f;
$color-3: #f5f5f5;
$color-4: #000000;
$color-5: #3e98c7;

// Admin Panel colors
$admin-color-1: #ffffff;
$admin-color-2: #61a6fa;
$admin-color-3: #8b5cf4;
$admin-color-4: #36886f;
$admin-box-shadow: 0.2rem 0.2rem 0.3rem 0.1rem rgba(133, 133, 133, 0.3);

.pop-up {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all ease 1s !important;

    .container {
        all: unset;
        position: relative;
        width: 75% !important;
        max-height: 100%;
        min-height: 100%;
        overflow: auto;
        transition: all ease 0.5s !important;
        background-image: white;
        display: flex;
        align-items: center;
        .close-buttons {
            position: absolute;
            right: 2rem;
            top: 2rem;
            font-size: 3rem;
            cursor: pointer;
        }
    }
}

.pop-up-hide {
    background-color: rebeccapurple !important;
    opacity: 0;
    z-index: -1;
    .container {
        scale: 0;
    }
}

.user-popup {
    height: 100%;
    .user-popup-container {
        color: black;
        display: grid;
        grid-template-columns: 35% 65%;
        background-color: black;
        border-radius: 0.5rem;
        overflow: hidden;
        .right {
            height: 100%;
            max-height: 100%;
            img {
                display: flex;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 16/8;
                opacity: 0.7;
            }
        }
        .left {
            display: flex;
            flex-direction: column;
            display: flex;
            background-color: white;
            background: linear-gradient(180deg, white 0%, #a3b3b0 100%);
            position: relative;
            overflow: auto;
            .left-header {
                display: flex;
                width: 100%;
                padding: 0 2em;
                .go-left {
                    background-color: $color-2;
                }
                .go-right {
                    margin-left: calc(100% - 7ch);
                    background-color: $admin-color-4;
                }
                h1 {
                    width: 7ch;
                    font-size: 2.7rem;
                    color: white;
                    padding: 0.25em 0.5em;
                    padding-top: 0.2em;
                    text-align: center;
                    border-radius: 0 0 0.5rem 0.5rem;
                    transition-duration: 1.5s !important;
                }
            }
            .left-body {
                width: 100%;
                padding: 2em 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                animation: fadeIn 3s ease forwards;
                .form-image {
                    img {
                        width: 8rem;
                        height: 8rem;
                        background-blend-mode: multiply;
                        border-radius: 50%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        border: 4px white solid;
                        box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.6);
                    }
                    input {
                        display: none;
                    }
                }
                .form-group {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    gap: 0.5rem;
                    margin-top: 1rem;
                    &:first-child {
                        margin-top: auto;
                    }
                    legend {
                        font-size: 1.2rem;
                        display: flex;
                        align-items: center;
                        gap: 0.3rem;
                    }
                    input {
                        all: unset;
                        background-color: white;
                        width: 90%;
                        padding: 0.5em 1em;
                        border-radius: 2rem;
                        box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
                        &:focus {
                            opacity: 1;
                            box-shadow: 0.2rem 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
                        }
                    }
                }
                .form-buttons {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1rem;
                    width: 100%;
                    margin-top: 1.5rem;
                    button {
                        all: unset;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: white;
                        opacity: 0.5;
                        &:hover {
                            opacity: 1;
                        }
                    }
                    .options {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        justify-content: center;
                        button {
                            flex-direction: row-reverse;
                            gap: 0.5rem;
                            padding: 0.5em 1em;
                            font-size: 1rem;
                            border-radius: 100rem;
                        }
                    }
                    .submits {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        button {
                            width: 100%;
                            background-color: white;
                            justify-content: space-between;
                            padding: 0.5em 1em;
                            font-size: 1.3rem;
                            font-weight: bold;
                            text-transform: uppercase;
                            border-radius: 100rem;
                        }
                    }
                }
                .form-change {
                    margin-top: 1rem;
                    button {
                        all: unset;
                        padding: 0.3em 0em;
                        color: $color-2;
                        border-bottom: 1px $color-2 solid;
                        &:hover {
                            color: black;
                        }
                    }
                }
                .form-states {
                    display: flex;
                    flex-direction: column;
                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row-reverse;
                        gap: 1rem;
                        font-size: 1rem;
                        color: white;
                        padding: 0.5em 1em;
                        margin: 2rem 0 0 0;
                        border-radius: 0.3rem;
                        animation: fadeIn 2s ease;
                        .icon {
                            font-size: 2rem;
                        }
                    }
                    .error {
                        background-color: red;
                    }
                    .success {
                        background-color: $admin-color-4;
                    }
                }
            }
        }
    }
}

.create-category-pop-up {
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    .create-header {
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    .create-body {
        display: flex;
        flex-direction: column-reverse;
        gap: 3rem;
        .form-left {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            flex-direction: column;
            gap: 1rem;
            .form-group {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                input {
                    all: unset;
                    border: 0.1rem black solid;
                    width: 100%;
                    max-width: 25rem;
                    padding: 0.5em;
                }
                img {
                    object-fit: contain;
                    aspect-ratio: 16/10;
                }
            }
            .form-buttons {
                display: flex;
                align-items: flex-end;
                justify-content: end;
                padding: 2em;
                gap: 1rem;
                button {
                    all: unset;
                    padding: 0.4em 1em;
                    border-radius: 0.3rem;
                    font-weight: bold;
                }
                .submit {
                    background-color: green;
                    color: white;
                    opacity: 0.5;
                }
                .cancel {
                    background-color: red;
                    color: white;
                }
            }
        }
    }
}

.update-category-pop-up {
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    .update-header {
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
        small {
            background-color: black;
            color: white;
            padding: 0 0.3em;
            margin-left: 1rem;
        }
    }
    .update-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        .form-left {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .form-group {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                input {
                    all: unset;
                    border: 0.1rem black solid;
                    width: 100%;
                    max-width: 25rem;
                    padding: 0.5em;
                }
                img {
                    object-fit: contain;
                    aspect-ratio: 16/10;
                }
            }
            .form-buttons {
                display: flex;
                align-items: flex-end;
                justify-content: end;
                padding: 2em;
                gap: 1rem;
                button {
                    all: unset;
                    padding: 0.4em 1em;
                    border-radius: 0.3rem;
                    font-weight: bold;
                }
                .submit {
                    background-color: green;
                    color: white;
                    opacity: 0.5;
                }
                .cancel {
                    background-color: red;
                    color: white;
                }
            }
        }
        .form-right {
            img {
                aspect-ratio: 16/10;
                object-fit: contain;
            }
        }
    }
}

.post-pop-up {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    .post-header {
        padding: 2.5em;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        .single-header {
            font-size: 3rem;
            padding-left: 2em;
        }
        .column {
            display: flex;
            align-items: center;
            gap: 1rem;
            background-color: ghostwhite;
            padding: 1rem 2rem;
            border-radius: 100rem;
            h1 {
                font-size: 2rem;
            }
            span {
                text-transform: uppercase;
                background-color: $color-2;
                color: white;
                padding: 0.2rem 2rem;
                border-radius: 100rem;
                font-size: 2rem;
            }
        }
    }
    .post-body {
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        img {
            width: 80%;
            aspect-ratio: 16/8;
            margin: auto;
            border-radius: 1rem;
        }
        .row {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            padding: 2em;
            gap: 1rem;
            width: 80%;
            margin: auto;
            .column {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                fieldset {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    legend {
                        font-size: 1.7rem;
                    }
                    input,
                    textarea {
                        all: unset;
                        padding: 0.5em 2em;
                        box-shadow: 0.2rem 0.3rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
                        border-radius: 100rem;
                        transition: all 2s ease;
                        &:focus {
                            box-shadow: 0rem 0.3rem 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
                        }
                    }
                    textarea {
                        border-radius: 0.5rem;
                    }
                }
                .rating-result {
                    font-size: 2rem;
                    color: orange;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    .icon {
                        animation: fadeIn 1s ease;
                    }
                }
                .form-buttons {
                    display: flex;
                    gap: 0.5rem;
                    margin-top: 1rem;
                    justify-content: center;
                    button {
                        all: unset;
                        padding: 0.4em 1em;
                        color: white;
                        border-radius: 100rem;
                    }
                    .submit {
                        background-color: green;
                    }
                    .cancel {
                        background-color: red;
                    }
                }
            }
        }
        table {
            width: 80% !important;
            margin: auto;
            text-align: center;
            margin-top: 2rem;
            border-spacing: 0;
            border-collapse: collapse;
            border-style: hidden;
            border-radius: 1rem;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            thead {
                display: flex;
                align-items: center;
                width: 100%;
                tr {
                    width: 100%;
                    color: white;
                    background-color: $color-2;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                }
                th {
                    padding: 2em;
                }
            }
            tbody {
                width: 100%;
                display: flex;
                flex-direction: column;
                tr {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    &:nth-child(odd) {
                        background-color: rgb(220, 220, 220);
                    }
                    td {
                        padding: 1em;
                        max-width: 15%;
                        overflow: auto;
                        .icon {
                            font-size: 3rem;
                        }
                        .form-buttons {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;
                            button {
                                all: unset;
                                font-size: 1.2rem;
                                color: white;
                                border-radius: 100rem;
                                padding: 0.2em 1em;
                                &:first-child {
                                    background-color: red;
                                }

                                &:last-child {
                                    background-color: orange;
                                    color: black;
                                }
                            }
                        }
                    }
                    img {
                        width: 5rem;
                        height: 5rem;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
            }
        }
        .add-property {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            width: 80%;
            margin: auto;
            gap: 1rem;
            align-items: start;
            .form-group {
                width: 100%;
                display: flex;
                flex-direction: column;
                font-size: 1.5rem;
                gap: 0.5rem;
                .submit {
                    all: unset;
                    align-self: flex-start;
                    background-color: green;
                    color: white;
                    padding: 0.3em 1em;
                    border-radius: 100rem;
                    margin-left: 2rem;
                    margin-top: 2rem;
                }
                img {
                    border-radius: 0.5rem;
                }
                label {
                    padding-left: 1em;
                }
                input[type="text"],
                input[type="range"],
                input[type="file"],
                textarea {
                    all: unset;
                    font-size: 1rem;
                    background-color: ghostwhite;
                    box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
                    border-radius: 100rem;
                    padding: 0.5em 1em;
                    transition: all 1s ease;
                    color: rgba(0, 0, 0, 0.689);
                    &:hover {
                        box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.3);
                    }
                }

                input[type="file"] {
                    font-size: 1rem;
                    border-radius: 0;
                }
                textarea {
                    border-radius: 1rem;
                    height: 1.5rem;
                    &:focus {
                        height: 15rem;
                    }
                }
            }
            .svg-picker {
                grid-column: -1/1;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 2em;
                .picker-header {
                    font-size: 3rem;
                }
                .picker-body {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    label {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        input {
                            all: unset;
                            width: 30ch;
                            background-color: $color-1;
                            padding: 0.5em 1em;
                            border-radius: 100rem;
                        }
                        button {
                            all: unset;
                            background-color: $color-2;
                            color: white;
                            padding: 0.4em 2em;
                            border-radius: 1000rem;
                        }
                    }
                    .search-results {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 1rem;
                        .icon {
                            width: 3rem;
                            font-size: 3rem;
                        }
                        .selected {
                            background-color: green;
                            color: white;
                        }
                    }
                }
            }
            .image-preview {
                grid-column: -1/1;
                font-size: 3rem;
                label {
                    padding: 0.3em 1em;
                }
                img {
                    margin-top: 1rem;
                    object-fit: contain !important;
                }
            }
        }
    }
}

.post-gallery-pop-up {
    background-color: white;
    min-height: 150vh;
    display: grid;
    grid-template-columns: 20rem 1fr;

    .gallery-header {
        background-color: gainsboro;
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 1.5rem;
            background-color: $color-2;
            color: white;
            padding: 0.2em 1em;
            border-radius: 100rem;
            margin-top: 2rem;
        }
        p {
            margin-top: 1rem;
        }
        ul {
            display: flex;
            flex-direction: column;
            list-style: none !important;
            margin-top: 2rem;
            gap: 1rem;
            li {
                font-size: 1.3rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                transition: all 1s ease;
                padding: 0.3em 0em;
                border-radius: 0 100rem 100rem 0;
                cursor: pointer;
                &:hover {
                    background-color: $color-2;
                    color: white;
                    padding: 0.3em 1em;
                }
            }
            .selected {
                background-color: $color-2;
                color: white;
                padding: 0.3em 1em;
            }
        }
    }
    .gallery-body {
        background-color: ghostwhite;
        padding: 3em;
        padding-top: 7em;
        .default-size,
        .pc-size,
        .laptop-size {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .image-container {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 70%;
                margin: auto;
                img {
                    width: 100%;
                }
                .item-panel {
                    color: white !important;
                }
                .control-panel {
                    align-self: center;
                }
            }
            .row {
                all: unset;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 2.5rem;
                    .add-image {
                        all: unset;
                        font-size: 1.25rem;
                        background-color: green;
                        color: white;
                        padding: 0.5em 1em;
                        border-radius: 100rem;
                    }
                }
                .body {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
                    gap: 1rem;
                    .item {
                        border-radius: 1rem;
                        overflow: hidden;
                        position: relative;
                        background-color: $color-2;

                        &:hover {
                            .item-buttons {
                                transform: translateY(0);
                            }
                        }
                        .pc {
                            img {
                                aspect-ratio: 16/10 !important;
                                object-fit: cover !important;
                            }
                        }
                        .item-header {
                            img {
                                aspect-ratio: 16/10;
                                object-fit: contain;
                            }
                        }
                        .item-body {
                            padding: 1em 2em;
                            .item-type {
                                display: flex;
                                align-items: center;
                                justify-content: space-evenly;
                                color: white;
                                gap: 1rem;
                                button {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 0.25rem;
                                    background-color: rgb(45, 153, 45);
                                    padding: 0.4em 1em;
                                    border-radius: 100rem;
                                    color: white;
                                }
                            }
                        }
                        .item-buttons {
                            display: flex;
                            gap: 0.5rem;
                            position: absolute;
                            top: 0;
                            right: 2rem;
                            transition: all 0.5s ease;
                            transform: translateY(-100%);
                            button {
                                all: unset;
                                color: white;
                                font-size: 1.25rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 0 0 100rem 100rem;
                                padding: 0.5em 0.3em;
                            }
                            .delete {
                                background-color: red;
                            }
                            .view {
                                background-color: white;
                                color: black;
                            }
                            .type {
                                background-color: green;
                            }
                        }
                        .item-image {
                            border-radius: 0.4rem;
                        }
                    }
                }
            }
        }
    }
}

.create-category-pop-up {
    legend {
        font-size: 2rem;
    }
    .rating-result {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 3rem;
        color: orange;
        .icon,
        span {
            opacity: 0;
            animation: fadeIn 1s forwards ease;
            font-size: 4rem;
            font-weight: bold;
        }
    }
    textarea {
        border: 2px black solid;
    }
}

.comments-replys-pop-up {
    background-color: white;
    min-width: 100%;
    min-height: 100vh;
    padding: 3em;
    .pop-up-header {
        font-size: 3rem;
    }
    .pop-up-body {
        display: flex;
        flex-direction: column;
        padding: 2em;
        align-items: center;
        gap: 0.5rem;

        .reply {
            width: 80%;
            background-color: whitesmoke;
            border-radius: 1rem;
            overflow: hidden;
            .reply-header {
                display: flex;
                align-items: center;
                border-left: 5px solid green;

                padding: 0 2em;
                gap: 1rem;
                img {
                    width: 4rem;
                    border-radius: 50%;
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    align-items: start;
                    margin: auto 0;
                    .user-name {
                        background-color: $color-2;
                        padding: 0.3em 1em;
                        border-radius: 100rem;
                        font-size: 1rem;
                        color: white;
                    }
                    .user-date {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 2rem;
                        font-size: 1rem;
                        small {
                            &:last-child {
                                font-weight: bold;
                                font-size: 1.2rem;
                                margin-left: 0.4rem;
                            }
                        }
                    }
                }
                .buttons {
                    padding: 2em;
                    margin-left: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-self: unset;
                    gap: 0.5rem;
                    button {
                        all: unset;
                        color: white;
                        padding: 0.3em 0em;
                        border-radius: 100rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.25rem;
                        min-width: 12ch;
                        &:first-child {
                            background-color: green;
                        }
                        &:last-child {
                            background-color: red;
                        }
                    }
                }
            }
            .reply-body {
                padding: 2em;
                border-radius: 0 0 0.5rem 0.5rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                h1 {
                    font-size: 2rem;
                }
                p {
                    opacity: 0.7;
                }
            }
        }
    }
}

.post-colors-pop-up {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    transition: all 1s ease;

    .pop-header {
        width: 17rem;
        font-size: 3rem;
        background-color: $color-2;
        color: white;
        padding: 1em;
        transition: all 1s ease;
        display: flex;
        flex-direction: column;
        &:hover {
            width: 25rem;
            .line {
                opacity: 1 !important;
            }
        }
        h1,
        h2 {
            color: white;
        }
        h1 {
            max-width: 5ch !important;
        }
        .colors-list {
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            margin-top: 2rem;
            gap: 1rem;
            border-top: 3px white solid;
            padding-top: 1em;
            * {
                transition: all 0.5s ease;
            }
            .item {
                display: flex;
                align-items: center;
                gap: 1rem;
                text-transform: capitalize !important;
                padding: 0.3em 1em;
                border-radius: 100rem;
                &:hover {
                    background-color: white;
                    h2 {
                        color: $color-2;
                    }
                    button {
                        color: red;
                        opacity: 1;
                    }
                }
                button {
                    all: unset;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.5rem;
                    margin-left: auto;
                    transition: all 0.2s ease !important;
                    opacity: 0;
                }
                .line {
                    opacity: 0;
                    height: 0.5rem !important;
                }
            }
        }
    }
    .pop-body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em;
        gap: 3rem;
        width: 100%;
        .color-picker {
            input {
                width: 8ch !important;
            }
            input[name="hex"] {
                width: 10ch !important;
            }
            padding: 1em;
            border-radius: 0.7rem !important;
            border: none !important;
            background-color: whitesmoke !important;
            box-shadow: 0.2rem 0.2rem 0.3rem 0rem rgba(0, 0, 0, 0.481) !important;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 15rem;
            label {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                input {
                    all: unset;
                    padding: 0.3em 1em;
                    border-radius: 100rem;
                    background-color: whitesmoke;
                    box-shadow: 0.2rem 0.2rem 0.1rem 0rem rgba(0, 0, 0, 0.481);
                }
                span {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 1rem;
                    font-size: 1.2rem;
                    padding-left: 1em;
                    font-weight: bold;
                    small {
                        font-size: 2rem;
                    }
                }
            }
            .form-buttons {
                button {
                    all: unset;
                    background-color: green;
                    color: white;
                    padding: 0.3em 1em;
                    border-radius: 100rem;
                }
            }
        }
    }
}
